In [11]:
from data_generator import DataGenerator
import os
# from embeddings_generator import *


# Hyperparameters

# if __name__ == '__main__':

history_length = 12 # N in article
ra_length = 4 # K in article
discount_factor = 0.99 # Gamma in Bellman equation
actor_lr = 0.0001
critic_lr = 0.001
tau = 0.001 # τ in Algorithm 3
batch_size = 64
nb_episodes = 100
nb_rounds = 50
filename_summary = 'summary.txt'
alpha = 0.5 # α (alpha) in Equation (1)
gamma = 0.9 # Γ (Gamma) in Equation (4)
buffer_size = 1000000 # Size of replay memory D in article
fixed_length = True # Fixed memory length

dg = DataGenerator('../ml-100k/u.data', os.path.abspath(os.path.dirname(os.getcwd()))+'/ml-100k/u.item')
dg.gen_train_test(0.8, seed=42)

# dg.write_csv('train.csv', dg.train, nb_states=[history_length], nb_actions=[ra_length])
# dg.write_csv('test.csv', dg.test, nb_states=[history_length], nb_actions=[ra_length])

In [2]:
# dg.write_csv('train.csv', dg.train, nb_states=[history_length], nb_actions=[ra_length])
# dg.write_csv('test.csv', dg.test, nb_states=[history_length], nb_actions=[ra_length])

In [3]:
import os

In [8]:
os.path.abspath(os.path.dirname(os.getcwd()))

'/Users/yingqiang/Documents/GitHub/LIRD'

In [3]:
import pandas as pd
import numpy as np
def read_file(data_path):
    ''' Load data from train.csv or test.csv. '''

    data = pd.read_csv (data_path, sep = ';')
    for col in ['state', 'n_state', 'action_reward']:
        data[col] = [np.array ([[np.int (k) for k in ee.split ('&')] for ee in e.split ('|')]) for e in data[col]]
    for col in ['state', 'n_state']:
        data[col] = [np.array ([e[0] for e in l]) for l in data[col]]

    data['action'] = [[e[0] for e in l] for l in data['action_reward']]
    data['reward'] = [tuple (e[1] for e in l) for l in data['action_reward']]
    data.drop (columns = ['action_reward'], inplace = True)

    return data

In [4]:
data = read_file('train.csv')

In [5]:
data

,state,n_state,action,reward
0,"[302, 127, 100, 50, 475, 181, 847, 1007, 1, 27...","[302, 127, 100, 50, 475, 181, 847, 1007, 1, 27...","[111, 285, 257, 471]","(0, 1, 0, 1)"
1,"[302, 127, 100, 50, 475, 181, 847, 1007, 1, 27...","[302, 127, 100, 50, 475, 181, 847, 1007, 1, 27...","[926, 283, 15, 151]","(0, 1, 0, 1)"
2,"[302, 127, 100, 50, 475, 181, 847, 1007, 1, 27...","[302, 127, 100, 50, 475, 181, 847, 1007, 1, 27...","[25, 763, 410, 240]","(0, 0, 0, 0)"
3,"[127, 100, 50, 475, 181, 847, 1007, 1, 275, 84...","[127, 100, 50, 475, 181, 847, 1007, 1, 275, 84...","[301, 300, 187, 135]","(1, 0, 1, 0)"
4,"[127, 100, 50, 475, 181, 847, 1007, 1, 275, 84...","[127, 100, 50, 475, 181, 847, 1007, 1, 275, 84...","[210, 204, 836, 134]","(0, 1, 1, 1)"
...,...,...,...,...
15949,"[475, 276, 919, 100, 619, 126, 713, 1, 25, 744...","[475, 276, 919, 100, 619, 126, 713, 1, 25, 744...","[237, 289, 117, 121]","(1, 1, 1, 1)"
15950,"[475, 276, 919, 100, 619, 126, 713, 1, 25, 744...","[475, 276, 919, 100, 619, 126, 713, 1, 25, 744...","[106, 129, 405, 291]","(1, 1, 1, 0)"
15951,"[475, 276, 919, 100, 619, 126, 713, 1, 25, 744...","[475, 276, 919, 100, 619, 126, 713, 1, 25, 744...","[717, 370, 763, 1114]","(1, 1, 0, 0)"
15952,"[276, 919, 100, 619, 126, 713, 1, 25, 744, 696...","[276, 919, 100, 619, 126, 713, 1, 25, 744, 696...","[240, 920, 829, 280]","(0, 0, 0, 1)"
15953,"[919, 100, 619, 126, 713, 1, 25, 744, 696, 13,...","[919, 100, 619, 126, 713, 1, 25, 744, 696, 13,...","[820, 120, 1028, 1079]","(0, 0, 0, 0)"